/* Basic Body Styles*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

body {
    background-color: #fff;
}

body, input, button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

/*Main Content Wrapper*/

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Navigation Bar*/

nav {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.basic-links:first-of-type {
    margin-left: 15px;
}

.basic-links {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    text-decoration: none;
}

#user-area {
    display: inline-block;
    flex-grow: 1;
}

#user-area-sub {
    min-width: auto;
    z-index: 986;
    height: 48px;
}

#user-area-condensed {
    padding: 0 4px;
    padding-left: 0;
    float: right;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
}

#user-links {
    line-height: normal;
    white-space: nowrap;
    padding-right: 15px;
}

#user-links a {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    padding-left: 15px;
}

#user-apps {
    float: right;
    position: relative;
    line-height: normal;
    white-space: nowrap;
}

#level1 {
    display: inline;
    line-height: normal;
}

#level2 {
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

#level3 {
    position: relative;
}

#level3 a {
    text-decoration: none;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding: 8px;
}

path {
    color: #5f6368;
    fill: currentColor;
}

#user-avatar {
    flex: 0 1 auto;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#avatar-link {
    padding: 4px;
    flex: 0 1 auto;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}

#avatar-img {
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}

/*Logo*/

#logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

#logo-subsection {
    max-height: 230px;
    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    height: 100%;
    margin-top: auto;
}

#logo-subsection img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom;
}

/*Search*/

#search-section {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

#search-container {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

#search-bar-div {
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

#search-area {
    display: flex;
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

#search-logo {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

#logo-positioner {
    margin-top: 3px;
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 24px;
    position: relative;
}

#search-logo svg {
    display: block;
    height: 100%;
    width: 100%;
    color: #9aa0a6;
    fill: currentColor;
    line-height: 24px;
}

#search-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#search-box input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: black;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
}

#search-microphone {
    /* flex: 1 0 auto; */
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 4px 8px;
    width: 24px;
    line-height: 44px;
}

#search-microphone svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#search-button-container {
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
}

.submit-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

/*Whitespace*/

#whitespace {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}